
<nav class="navbar navbar-inverse" style="background-color:#00008B">
    <div class="container-fluid" style="height:51px;margin-top:15px;padding-top: 20px;">
  <div class="row">
  <div class="col-sm-4">
        <div class="navbar-header">
            <a [routerLink]="['/Home']" class="navbar-brand" style="color:white;padding-top:0px;">HOME</a>
      </div>
  </div>
  <div class="col-sm-8">   
     <a [routerLink]="['about']" style="color:orange;">ABOUT US</a> <br />
      <a style="color:orange;">STEP</a>
      <a style="color:orange;">NGOs</a>
      <a style="color:orange;">ADMIN</a>
      <a [routerLink]="['faq']"style="color:orange;">FAQ</a>
      <a style="color:orange;">Contact Us</a>
   </div>
  </div>
    </div>
  </nav>
  