<nav class="navbar navbar-inverse" style="background-color:#00008B">
  <div class="container-fluid" style="height:51px;margin-top:15px;padding-top: 20px;">
    <div class="row">
      <div class="col">
        <ul class="nav nav-pills" role="tablist">
          <li><a [routerLink]="['']" class="navbar-brand" style="color:white;padding-top:0px;">Home</a></li>
          <li><a [routerLink]="['/step']" style="color:orange;">STEP</a></li>
          <li><a [routerLink]="['/ngo']" style="color:orange;">NGO</a></li>
          <li><a [routerLink]="['/faq']" style="color:orange;">FAQ</a></li>
          <li><a [routerLink]="['/legislation']" style="color:orange;">Legislation</a></li>
          <li><a [routerLink]="['/about']" style="color:orange;">ABOUT US</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>