

<nav class="navbar navbar-inverse" style="background-color:#00008B">
  <div class="container-fluid" style="height:40px;">
    
          <div class="navbar-header">
        <a [routerLink]="['']" class="navbar-brand" style="color:white;">Home</a>
   

   <ul class="nav nav-pills" role="tablist"  style="float:right;"> 
      <li><a [routerLink]="['/step']" style="color:orange;">STEP</a></li>
      <li><a [routerLink]="['/ngo']" style="color:orange;">NGO</a></li>
      <li><a [routerLink]="['/faq']" style="color:orange;">FAQ</a></li>
      <li><a [routerLink]="['/legislation']" style="color:orange;">Legislation</a></li>
      <li><a [routerLink]="['/about']" style="color:orange;">ABOUT US</a></li> 
    </ul>

</div>
  </div>
</nav>