.mainlogo img {
    padding-inline-start: 0%;
    width: 35%;
    margin-left:-17%;
    height: 70px;
    
}

    .tagname h5 {
        font-family: 'Lobster', cursive;
        display:inline;
        margin-left: -16%;
        padding-left:30%;
        padding-top: 60%;
        padding-bottom: 10px;
        font-style: italic;
        height:2%;
        color: purple;
        
    }