<p>header works!</p>
<img src="/assets/logo.jpg" alt="logo.jpg"> 

<nav class="navbar navbar-inverse" style="background-color:#00008B">
    <div class="container-fluid" style="height:51px;margin-top:15px;padding-top: 20px;">
  <div class="row">
  <div class="col-sm-4">
        <div class="navbar-header">
            <a [routerLink]="['/Home']" class="navbar-brand" style="color:white;padding-top:0px;">HOME</a>
      </div>
  </div>
  <div class="col-sm-8">

    <li><a [routerLink]="['faq']"  style="color:orange;">FAQ</a></li> 
    <li><a [routerLink]="['Legislation']"  style="color:orange;">Legislation & Policy</a></li>  
  
  
<!--             <ul class="nav nav-pills" role="tablist" "> 
  <li><a [routerLink]="['/Aboutus']"  style="color:orange;">ABOUT US</a></li> 
           
         <li><a [routerLink]="['/STEP']"  style="color:orange;">STEP</a></li> 
  
               <li><a [routerLink]="['/ngo']"  style="color:orange;">NGOs</a></li>  
  
         <li><a [routerLink]="['/admin']"  style="color:orange;">ADMIN</a></li> 
  
        <li><a [routerLink]="['/faq']"  style="color:orange;">FAQ</a></li> 
  
      <li><a [routerLink]="['/contactus']"  style="color:orange;">Contact Us</a></li> 
      </ul> 
    -->
  </div>
  </div>
    </div>
  </nav>
  