.row{
    height:50px;
    
    padding-bottom: 5px;
     color:rgb(119, 11, 119);
     text-align:center;
     font-weight: 700;
}
.navbar-header a{
    background-color: plum;
    color:rgb(37, 6, 37);
    overflow: auto;
  width:145px;
}