<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h3>Support To Training & Employment Programme (STEP)</h3>
    </div>
  </div>
</div>

  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav nav-pills" role="tablist" style="float:right;">
        <li><a [routerLink]="['/step/stepabout']" >About Us</a></li>
        <li><a [routerLink]="['/step/guidelines']" >Guidelines</a></li>
        <li><a [routerLink]="['/step/training']" >Training Sectors</a></li>
        <li><a [routerLink]="['']" >NGOs</a></li>
        <li><a [routerLink]="['/step/registration']" >Registration</a></li>
        <li><a [routerLink]="['']" >Status</a></li>
        <li><a [routerLink]="['/step/stepfaq']" >FAQ</a></li>
      </ul>
    </div>
  </div>

